<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                    <div class="widget">
                        <img src="images/logo-white.png" width="180" class="m-b15" alt=""/>
                        <p class="text-capitalize m-b20">Spectrum Solutions Will Help You Find Your Dream Job.</p>
                        <div class="subscribe-form m-b20">


                        </div>
                        <ul class="list-inline m-a0">
                            <li><a href="#" class="site-button white facebook circle "><i
                                    class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="site-button white google-plus circle "><i
                                    class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="site-button white linkedin circle "><i
                                    class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="site-button white instagram circle "><i class="fa fa-instagram"></i></a>
                            </li>
                            <li><a href="#" class="site-button white twitter circle "><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
                    <div class="widget border-0">

                        <div class="container p-5">
                            <form action="/sndemail/ " method="post" class="p-3">
                                {% csrf_token %}

                                <div class="form-group ">
                                    <!--  <label for="exampleFormControlTextarea3">Rounded corners</label>-->
                                    <textarea class="form-control shadow   bg-white rounded" style="min-width: 70%" id="exampleFormControlTextarea3" rows="7" name="message"
                                              ></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                    <div class="widget border-0">
                        <h5 class="m-b30 text-white">About Us</h5>
                        <ul class="list-2 w10 list-line">
                            <li><a href="/">Home</a></li>
                            <li><a href="/blog/">Blog</a></li>
                            <li><a href="/latestjobs1/">Latest Jobs</a></li>
                            <li><a href="#">0301-8130376</a></li>
                            <li><a href="#">057-2522716</a></li>
                            <li><a href="#">xxx@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center"><span><a target="_blank"
                                                            href="#">@Copyright Spectrum Solutions 2021</a></span></div>
            </div>
        </div>
    </div>
</footer>