
{%load static%}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'css/plugins.css' %}" rel="stylesheet">

<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/templete.css' %}" rel="stylesheet">
<link href="{% static 'css/skin/skin-1.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/datepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="css/plugins.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="css/templete.css"> -->
<!-- <link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css"> -->
<!-- <link rel="stylesheet" href="plugins/datepicker/css/bootstrap-datetimepicker.min.css"/> -->
<!-- Revolution Slider Css -->

<link href="{% static 'plugins/revolution/revolution/css/layers.css' %}" rel="stylesheet">
<link href="{% static 'plugins/revolution/revolution/css/settings.css' %}" rel="stylesheet">
<link href="{% static 'plugins/revolution/revolution/css/navigation.css' %}" rel="stylesheet">

